*{
	margin:0;
	padding:0;
}
.clearfix{
	clear:both;
}
#container{
	width:100%;
	margin:0 auto;
	font-family:arial;
}
	header{
		background:black;
		width:100%;
		color:white;
		
	}
	#left_header{
		padding:40px 0;
		float:left;
		padding-left:30px;
		cursor:default;
		
	}
	#left_header:hover{
		color:orange;
	}
	#right_side a{
		color:white;
	}
	nav{
		float:right;
	}
	nav ul{}
	nav ul li{
		float:left;
		list-style:none;
		padding:50px 30px;
		margin:0 2px;
		font-size:20px;
		transition:background 1s;
		
	}
	nav ul li:hover{
		background:orange;
	}
	main{}
	.main_img{
		width:100%;
		height:100%;
	}
	.first_section{
		padding:0 5%;
	}
	.first_section h2{
		text-align:center;
		font-size:40px;
		padding:50px;
		color:gray;
		text-shadow:1px 1px 1px black;
	}
	article{
		width:21%;
		margin:20px;
		float:left;
	}
	article img{
		width:100%;
	}
	article img:hover{
	animation:anim 2s;
	}
	@keyframes anim{
		from {width:100%;}
		to {width:150%;}
	}
	.article_title{
		text-align:center;
		font-family:bold;
		font-size:20px;
		margin:10px;
	}
	.article_description{
		text-align:center;
	}
	.fourth_img{
		padding:0 1% 0 5%;
	}
	.second_section{
		background: url(pushp.jpg);
		width:1350px;
		height:630px;
		box-sizing:border-box;
		background-size:100%;
	}
	.second_section h2{
		text-align:center;
		padding:50px;
		font-size:40px;
		color:white;
		text-decoration:none;
		
	}
	.second_section h2:hover{
		text-decoration:underline;
		
	}
	.left_side{
		width:600px;
		height:400px;
		float:left;
		margin:0 8px;
	}
	.right_side{
		width:600px;
		background:black;
		float:right;
		height:400px;
		margin:0 8px;
		border-radius:10px;
		color:white;
		font-size:25px;
	
	}
	.left_side img{
		width:100%;
		height:100%;
		border-radius:10px;
		border:1px solid black;
	}
	footer{
		width:1350px;
		height:80px;
		background:black;
	}
	#left_side{
		color:white;
		float:left;
		text-align:center;
		font-size:25px;
		padding:18px 5px;
	}
	#right_side ul li{
		color:white;
		float:right;
		list-style:none;
		padding:25px 15px;
		transition:color 2s;
		
	}
	#right_side ul li:hover{
		color:orange;
		
		
	}
	.img_block{
		height:200px;
		overflow:hidden;
	}
	

